div {
  margin: 30px;
  width: auto;
}

mat-card {
  margin: 5px 0px;
}

@media (max-width: 800px) {
  div {
    width: 100%;
    padding: 10px;
  }
  mat-card {
    width: 75%;
    margin: auto;
  }
}
